.checkout-container {
  @include grid(grid-template-columns, 2, 1fr, 2, 2);
  padding-bottom: 30px;
  @media (max-width: 900px) {
    @include flex('', '', column, '', '');
  }
  .cartItems-container {
    padding: 20px 0;
    .cartItem-container {
      @include flex(center, space-between, '', 1, wrap);
      padding: 5px 0;

      .cartItem-content {
        @include flex(center, '', '', 0.6, '');
        & > img {
          min-width: 60px;
          max-height: 60px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        & > span {
          min-width: 180px;
          max-width: 180px;
          font-size: 14px;
          font-weight: $fontSemiBold;
        }
      }
      .cartItem-remove {
        cursor: pointer;
      }
    }

    .empty-content {
      @include flex('', center, '', '', '');
    }
  }
  .minicart-footer {
    @include flex('', space-between, column, 1, '');
    .minicart-footer-content {
      @include flex('', space-between, '', '', '');
      .minicart-footer--total {
        font-weight: $fontBold;
        font-size: larger;
      }
    }
    .minicart-footer-button {
      @extend .card-add-button;
      min-height: 45px;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .form-content {
    @include flex('', '', column, 1, '');
    .two-columns {
      @include grid(grid-template-columns, 2, 1fr, 1, 1);
      width: 100%;
    }

    .address-columns {
      @include grid('', '', '', 1, 1);
      grid-template-columns: 1fr 2fr;
      width: 100%;
    }

    input {
      height: 40px;
      width: 100%;
      padding: 0 15px;
    }
  }
}
