.header-content {
  background-color: $green-1;
  position: fixed;
  width: 100%;
  min-height: 55px;
  z-index: 1;
  section {
    min-height: inherit;
    @include flex(center, space-between, '', 1.5, wrap);
  }

  @media (max-width: 840px) {
    padding: 10px 0;
  }

  .buttons-content {
    @include flex(center, '', '', 1, '');
  }
}
