.header-content {
  background-color: $green-1;
  height: 55px;
  section {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttons-content {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}
