.wishlist-icon {
  cursor: pointer;
  svg {
    fill: $white;
    font-size: 1.7rem;
  }
}

.card-add-favorite-container {
  &::before {
    content: '';
    display: block;
    @include ps(absolute, 0, '', '', 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 70px;
  }

  width: 100%;
  @include ps(absolute, 0, '', '', 0);

  .card-add-favorite {
    @include ps(absolute, 1rem, '', '', 1rem);
    color: transparent;
    stroke: $white;

    transition: 0.3s;
    &.favorited {
      color: $purple;
      stroke: $purple;
    }
  }
}

.wishlist-container {
  min-width: 350px;
  max-width: 350px;
  width: 100%;
  padding: 15px;

  .wishlist-title {
    @include flex(center, space-between, '', '', '');

    & a {
      cursor: pointer;
      display: flex;
    }
  }

  .wishlistItems-container {
    padding: 20px 0;
    .wishlistItem-container {
      @include flex(center, space-between, '', '', '');
      padding: 5px 0;

      .wishlistItem-content {
        @include flex(center, '', '', 0.6, '');
        & > img {
          min-width: 40px;
          max-height: 40px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        & > span {
          min-width: 100px;
          max-width: 100px;
          font-size: 12px;
          font-weight: $fontSemiBold;
        }
      }
      .wishlistItem-add-cart {
        cursor: pointer;
        color: $green-2;
      }
      .wishlistItem-remove {
        cursor: pointer;
      }
    }

    .empty-content {
      @include flex('', center, '', '', '');
    }
  }
}
