//Weights
$fontThin: 100;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900;

//Colors
$white: #fff;
$black: #293845;
$purple: #6558f5;
$green-1: #8dd7cf;
$green-2: #1aae9f;
$grey-1: #4b5c6b;
$grey-2: #c3cfd9;
